html{
	font-size:100%;
}

body{
	padding:0;
	margin:0;
	font-family: Gotham SSm A,Gotham SSm B,Gotham Rounded SSm A,Gotham Rounded SSm B,sans-serif;
	font-weight: lighter;
	color:#3b3d42;
	font-size: 1.2rem;
}



ul{
	margin:10%;
	margin-bottom: 0;
	margin-top: 0;
}

li{

	display: inline-block;
	padding:1.5rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.header{
	font-size: 1.5rem;
	color:white;
	background-color:#44484f;
	width: 100%;
}

.header a:link{
	color:white;
	text-decoration: none;
	font-weight: lighter;
}
.header a:visited{
	color:white;
}


.header a:hover, .header button:hover{

	color:#fae596;
	cursor: pointer;
	  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

#name{
	font-size: 2.5rem;
	border: solid 2px #3fb0ac;
	border-top: none;
	border-bottom: none;
	padding:.6rem;

	
}

#name:hover{
  border: solid 2px #173e43;
  border-top: none;
  border-bottom: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

.intro{
  margin:10%;
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.intro img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:40%;
	max-width: 600px;
}

.boxes {
	margin:10%;
	margin-top:1rem;
	margin-bottom: 1rem;
}
.boxes h3{
	text-align: center;
	font-size: 1.5rem;
}

.boxes table {
  border-collapse: separate;
  border-spacing: 2rem 2rem;
}

.boxes td,tr{
  padding: 1rem;
}

.boxes table tr td{
	width:30%;
	padding:0rem 1rem 0rem 1rem;
	top:0px;
	border-left: solid 1px #3fb0ac;
	box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.2);
	vertical-align: top;
}

.dates{
	float:right;
	padding: 0;	
}
.resume table tr .dates{
	width: 7rem;
}
.description{
	height: 100%;
}

.thumbnail:hover{
	cursor: pointer;
	opacity: .8;
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;

}

.boxes table tr td img{
	width:100%;
	text-align: center;
}

.resume table{
	margin: 10%;
	margin-top:2rem;
	margin-bottom: 2rem;
	border-bottom:solid 1px #44484f;
	
	witdh:100%;
}

.resume table td p{
	margin-right: 2rem;
	witdh:100%;
	padding:0;
	margin: .6rem;
}

.dropbtn {
  background-color:#44484f;
  color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: Gotham SSm A,Gotham SSm B,Gotham Rounded SSm A,Gotham Rounded SSm B,sans-serif;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  position: absolute;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 20rem;
  background-color: white;

}

.dropdown-content button {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  border: none;
  transition: max-height 1s;
}

.dropdown-content button:hover {
  color: #3b3d42;
  border-radius: 0px;
  border: solid 1px #173e43;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#img_background {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(68,72,79,.9);
}

.pop_img{
	display: none;
position: fixed;
  width: 60%;
  top: 10%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  background-color: white;
  z-index: 3;
  font-size: 2em;
  padding: 0;
}

#close:hover {
  color: #fae596;
  cursor: pointer;
}

#close {
  position: absolute;
  right: 10%;
  top: 1rem;
  border: none;
  color:white;
  background-color: transparent;
  font-size: 3em;
}


.myFooter {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#44484f; 
  color: #fae596;
  text-align: center;
  margin: 0;
  padding:1rem;
}

.myFooter a:link{
	color:#fae596;
	
	font-weight: lighter;
}
.myFooter a:visited{
	color:#fae596;
}

@media only screen and (max-width: 1100px){
	li{
		padding:.2rem;
		font-size: 1rem;
		padding-bottom: 1rem;
		padding-top: 1rem;
	}
	.dropbtn {
		font-size: 1rem;
	}
	.dropbtn {
	  font-size: 1rem;
	}
	#name{
		font-size: 1rem;
		border-left: solid 2px #3fb0ac;
		padding:.6rem;
	}
	td {
  		display: table-row;
	}
	.intro{
	  margin:1%;
	  margin-bottom: 0;
	  margin-top: 1rem;
	}
	.boxes {
		margin:1%;
		margin-top:1rem;
		margin-bottom: 1rem;
	}
	.resume table{
		margin: 1%;
		margin-top:2rem;
		margin-bottom: 2rem;
		width: 98%;
	}
	.resume table td p{
		witdh:100%;
		padding:0;
		margin: 0;
	}
}

@media only screen and (max-width: 700px){
	ul{

		margin:0%;
	}
	li{
		font-size:.8rem;
	}
		.dropbtn {
		font-size: .8rem;
	}

}

